<mat-card *ngFor="let coupon of coupons" class="app-card">
  <mat-card-header (click)="coupon.visible=!coupon.visible">
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title style="font-size: medium;">
        {{coupon.label}}&nbsp;chez "{{coupon.shop_complete.name}}"
    </mat-card-title>
    <mat-card-subtitle *ngIf="!coupon.visible">

      <span *ngIf="coupon._id!=coupon.origin" style="font-size: large">
        <strong>{{coupon.gain}}</strong>&nbsp;{{coupon.unity}}
        <span *ngIf="coupon.pluriel && coupon.gain>1">s</span>

        <span *ngIf="(coupon.gain/coupon.max)>0.8">
        (max:{{coupon.max}})
          </span>
      </span>

    <span *ngIf="coupon._id==coupon.origin && coupon.share>0">
           {{coupon.share}}/{{coupon.max_coupon}} coupons distribués
      </span>


    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="app-card-content" *ngIf="coupon.visible">

    <app-tuto [delay]="20" label="Cliquer sur le titre pour réduire la taille d'affichage du coupon"></app-tuto>

    <!-- Section destinée à l'imprression -->
    <div name="print-section" style="display: none;">
      <app-print-coupon [coupon]="coupon"></app-print-coupon>
    </div>

    <!--Visuel du coupon-->
    <table style="width:100%;vertical-align: top;text-align: center;"><tr>
      <td style="text-align: center;width: fit-content;">
        <!--Visuel du coupon-->
        <div *ngIf="(coupon.showCode==null || !coupon.showCode) && coupon.picture?.length>0">
          <!--<img-->
            <!--*ngIf="coupon.origin==coupon._id"-->
            <!--[src]="coupon.picture"-->
            <!--style="width: 40%;display: inline-block;">-->

          <img
            *ngIf="coupon.origin!=coupon._id"
            [src]="coupon.picture"
            style="width: 150px;height:150px;display: inline-block;">

        </div>

        <!--QRCode du coupon-->

        <qr-code [value]="coupon.url"
                 style="max-width:200px;max-height: 200px;display:inline;"
                 *ngIf="coupon.showCode"
                 [size]="150">
        </qr-code>

      </td>
      <td style="text-align: center;vertical-align: top;width:auto;">
        <div style="display:inline-block;font-size: larger;" *ngIf="coupon._id!=coupon.origin">
          Vous avez gagné {{coupon.gain}}&nbsp;{{coupon.unity}}<span *ngIf="coupon.pluriel && coupon.gain>1">s</span>
          <span *ngIf="coupon.gain/coupon.max>0.8">(/{{coupon.max}})</span>
        </div>
        <br><br>

        <!--Zone réserver au créateur-->
        <div *ngIf="coupon._id==coupon.origin && coupon.share>0" style="font-size: small;">
          {{coupon.share | number:'1.0-0'}} coupons distribués (max:{{coupon.max_coupon}})<br>
          {{coupon.gain_total | number:'1.0-0'}} {{coupon.unity}} distribué(es) <br><br>
        </div>

          <table style="text-align: left;display: inline-block;font-size:x-small;"
                 cellpadding="2"
                 *ngIf="coupon.canbedeal">
            <tr><td>Partage</td><td>+ {{coupon.share_bonus}} {{coupon.unity}}<span *ngIf="coupon.pluriel && coupon.share_bonus>1">s</span></td></tr>
            <tr><td>Achat</td><td>+ {{coupon.pay_bonus}} {{coupon.unity}}<span *ngIf="coupon.pluriel && coupon.pay_bonus>1">s</span></td></tr>
            <tr><td>Immédiat</td><td>+ {{coupon.direct_bonus}} {{coupon.unity}}<span *ngIf="coupon.pluriel && coupon.direct_bonus>1">s</span></td></tr>
          </table><br><br>
          <span style="font-size: small">
            Validitée : <app-timer [end]="coupon.dtEnd"></app-timer>
          </span>

          <span *ngIf="coupon.origin==coupon._id">
            <br>Stock : {{coupon.stock | number:'1.0-1'}} {{coupon.unity}}<span *ngIf="coupon.pluriel && coupon.stock>1">s</span>
          </span>
      </td>
    </tr></table>


    <app-tuto [if]="coupon.showCode && coupon.visible" [delay]="3"
              label="Le lien du coupon est disponible dans le presse-papier, vous pouvez l'envoyer par WhatsApp, SMS, Messenger ... etc ...">
    </app-tuto>

    <app-tuto icon="share" [delay]="2" [duration]="15" [if]="coupon.canbedeal"
              label="Augmenter votre réduction en partageant cette réduction avec votre réseau">
    </app-tuto>

    <div style="width: 100%;text-align: center;font-size: x-small;color:lightgrey;" *ngIf="coupon.origin!=coupon._id && coupon.showCode">
      <strong>Conditions d'application:</strong><br>
      {{coupon.conditions}}
    </div>


  </mat-card-content>

    <!--Info sur le coupon-->

    <mat-card-actions style="text-align: center;">

      <div *ngIf="!coupon.closed" style="display: inline-block;">
        <button mat-button mat-flat-button
                *ngIf="coupon.canbedeal || coupon.origin!=coupon._id"
                title="Partager le coupon pour augmenter votre promotion / réduction"
                mat-icon-button (click)="showCode(coupon)"
                ngxClipboard [cbContent]="coupon.url">
          <mat-icon *ngIf="coupon.canbedeal">share</mat-icon>
          <mat-icon *ngIf="!coupon.canbedeal">shopping_cart</mat-icon>
        </button>

        <!--<button mat-button mat-flat-button-->
                <!--mat-icon-button (click)="socialSharing(coupon)" >-->
          <!--<span style="font-size: x-large">f</span>-->
        <!--</button>-->

        <!--<button mat-button mat-flat-button-->
                <!--mat-icon-button (click)="socialSharing(coupon)" >-->
          <!--<span style="font-size: large">g+</span>-->
        <!--</button>-->

      </div>
      &nbsp;


      <!--<button mat-button mat-flat-button mat-icon-button (click)="showInfos(coupon)">-->
        <!--<mat-icon>attach_money</mat-icon>-->
      <!--</button>-->

      <button *ngIf="coupon._id==coupon.origin && coupon.visible && coupon.canbedeal" mat-button
              (click)="openPrinter(coupon)"
              title="Imprimer une affiche de votre bon plan"
              mat-flat-button mat-icon-button>
        <mat-icon>printer</mat-icon>
      </button>

    <button *ngIf="coupon.shop.owner!=user?._id" mat-button
              (click)="addfollow(user._id,coupon.shop)"
              title="Recevoir les prochaines promotion de '{{coupon.shop_complete?.name}}'"
              mat-flat-button mat-icon-button>
        <mat-icon>link</mat-icon>
      </button>

      <button *ngIf="coupon._id==coupon.origin && coupon.visible && coupon.canbedeal" mat-button
              (click)="stopDeal(coupon)"
              title="Fermer prématurément la promotion"
              mat-flat-button mat-icon-button>
        <mat-icon>cancel</mat-icon>
      </button>

      <button mat-button mat-flat-button
              *ngIf="coupon._id!=coupon.origin"
              title="Localiser l'enseigne proposant la réduction"
              mat-icon-button  (click)="showAddress(coupon.shop_complete)">
        <mat-icon>map</mat-icon>
      </button>

      <button mat-button mat-flat-button
              mat-icon-button
              (click)="remove(coupon)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
</mat-card>
<br>
