<mat-card *ngFor="let coupon of coupons" class="app-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>
        {{coupon.label}}&nbsp;chez "{{coupon.shop_complete.name}}"
    </mat-card-title>

  </mat-card-header>

  <mat-card-content class="app-card-content">
    <!--Visuel du coupon-->
    <table style="width:100%;vertical-align: top;"><tr>
      <td>
        <img
          *ngIf="(coupon.showCode==null || !coupon.showCode) && coupon.picture?.length>0"
          [src]="coupon.picture"
          style="height: 200px;width:200px;">

          <qr-code [value]="coupon.url"
                   style="max-width:200px;max-height: 200px;display:inline;"
                   *ngIf="coupon.showCode" style="width: 100%;text-align: center;"
                   [size]="200">
          </qr-code>

      </td>
      <td style="text-align: center;vertical-align: top;">
        <h2 *ngIf="coupon._id!=coupon.origin">{{coupon.gain}}&nbsp;{{coupon.unity}} (/{{coupon.max}})</h2>

        <!--Zone réserver au créateur-->
        <div *ngIf="coupon._id==coupon.origin">
          Nombre de partage : {{coupon.share}}
          <br><br>
        </div>

          <table style="text-align: left;display: inline-block;" cellpadding="5">
            <tr><td>Partage</td><td>: +{{coupon.share_bonus}}&nbsp;{{coupon.unity}}</td></tr>
            <tr><td>Achat</td><td>: +{{coupon.pay_bonus}}&nbsp;{{coupon.unity}}</td></tr>
            <tr><td>Direct</td><td>: +{{coupon.direct_bonus}}&nbsp;{{coupon.unity}}</td></tr>
          </table><br><br>
          <span style="font-size: small">
            Validitée : <app-timer [end]="coupon.dtEnd"></app-timer>
          </span>
      </td>
    </tr></table>

    <!--QRCode du coupon-->

    <!--Info sur le coupon-->

    <mat-card-actions style="text-align: center;">
      <button mat-button mat-flat-button mat-icon-button (click)="showCode(coupon)" ngxClipboard [cbContent]="coupon.url">
        <mat-icon>share</mat-icon>
      </button>

      <!--<button mat-button mat-flat-button mat-icon-button (click)="showInfos(coupon)">-->
        <!--<mat-icon>attach_money</mat-icon>-->
      <!--</button>-->

      <!--<button *ngIf="coupon._id==coupon.origin" mat-button mat-flat-button mat-icon-button (click)="printCode(coupon)">-->
        <!--<mat-icon>printer</mat-icon>-->
      <!--</button>-->

      <button mat-button mat-flat-button mat-icon-button  (click)="showAddress(coupon.shop_complete)">
        <mat-icon>map</mat-icon>
      </button>

      <button mat-button mat-flat-button
              *ngIf="coupon._id==coupon.origin"
              mat-icon-button
              (click)="remove(coupon)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
<br>
