<mat-card *ngFor="let coupon of coupons" class="app-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>
        {{coupon.label}}&nbsp;chez {{coupon.shop_complete.name}} -
        <app-timer [end]="coupon.dtEnd"></app-timer>
    </mat-card-title>
    <mat-card-subtitle *ngIf="coupon._id!=coupon.origin">{{coupon.gain}}&nbsp;{{coupon.unity}} (/{{coupon.max}})</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="app-card-content">
    <!--Visuel du coupon-->
    <img
         *ngIf="(coupon.showCode==null || !coupon.showCode) && coupon.picture?.length>0"
         [src]="coupon.picture"
         style="max-height: 200px;width:100%;">

    <!--QRCode du coupon-->
    <div *ngIf="coupon.showCode" style="width: 100%;text-align: center;">
      <h4>{{coupon.url}}</h4>
      <qr-code [value]="coupon.url"
               style="max-width:200px;max-height: 200px;display:inline;"
               [size]="200"></qr-code>
    </div>

    <!--Info sur le coupon-->
    <div *ngIf="coupon.showInfos" style="width: 100%;text-align: center;margin-top:5px;">
      <table style="text-align: left;display: inline-block;">
        <tr><td>Partage</td><td>{{coupon.share_bonus}}&nbsp;{{coupon.unity}}</td></tr>
        <tr><td>Achat</td><td>{{coupon.pay_bonus}}&nbsp;{{coupon.unity}}</td></tr>
        <tr><td>Direct</td><td>{{coupon.direct_bonus}}&nbsp;{{coupon.unity}}</td></tr>
      </table>
    </div>

    <mat-card-actions style="text-align: center;">
      <button mat-button mat-flat-button mat-icon-button (click)="showCode(coupon)" ngxClipboard [cbContent]="coupon.url">
        <mat-icon>share</mat-icon>
      </button>

      <button mat-button mat-flat-button mat-icon-button (click)="showInfos(coupon)">
        <mat-icon>attach_money</mat-icon>
      </button>

      <button *ngIf="coupon._id==coupon.origin" mat-button mat-flat-button mat-icon-button (click)="printCode(coupon)">
        <mat-icon>printer</mat-icon>
      </button>

      <button mat-button mat-flat-button mat-icon-button  (click)="showAddress(coupon.shop_complete)">
        <mat-icon>map</mat-icon>
      </button>

      <button mat-button mat-flat-button
              *ngIf="coupon._id==coupon.origin"
              mat-icon-button
              (click)="remove(coupon)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
<br>
