<app-old-coupons *ngIf="showOldCoupon"
                 title="Utilisez un modèle"
                 subtitle="pour votre nouvelle promotion"
                 [shop]="{'_id':coupon.shop,'owner':userid}"
                 (cancel)="cancel()"
                 [filter]="tags"
                 (select)="selectOldAsModel($event)">
</app-old-coupons>

<app-tuto title="Vous allez réaliser votre première promotion"
          button="C'est partit"
          [duration]="30"
          [delay]="3"
          image="./assets/img/discount.jpg"
          color="black"
          [force]="true"
          subtitle="ReducShare propose de partir d'un modèle que vous pouvez totalement personnaliser pour s'adapter à votre promotion. Vous pouvez également valider le modèle juste pour voir puisqu'il est toujours possible de modifier ou supprimer une promotion surtout si elle n'a pas été diffusée">
</app-tuto>

<mat-card class="app-card" *ngIf="!showOldCoupon" style="margin:10px;color:black;">
  <mat-card-title>
    Personnaliser le modèle
  </mat-card-title>
  <mat-card-subtitle style="color: black;">
    Tous les contenus blancs sont modifiables
  </mat-card-subtitle>
  <mat-card-content class="app-card-content">
    <h4><small>Adaptez ce modèle a votre promotion</small></h4>
    <div class="zone_text" [innerHTML]="master_text | safe:'html'"></div>
    <br>
    <div style="position:relative;width: 100%;text-align: center;color:white;">
      <span style="color:black">Couverture de votre coupon (avec Exemple de texte)</span><br>
      <div style="position:absolute;z-index:100;width:100%;top:20%;font-size: x-large;">{{coupon.label}}</div>
      <div *ngIf="coupon.max>0" style="position:absolute;z-index:100;width:100%;top:60%;font-size: x-large;">Jusqu'à {{coupon.max}}{{coupon.symbol}}</div>
      <img class="visual-coupon" style="object-fit: cover;" [src]="coupon.visual" (click)="addImage('visual',800,220)"><br>
    </div>
    <br>

    <h4>Augmentation de la promotion</h4>
    <div class="zone_text" [innerHTML]="augment_text | safe:'html'"></div>

    <h4>Maitriser votre budget</h4>
    <div class="zone_text" [innerHTML]="budget_text | safe:'html'"></div>

    <h4>Référencer</h4>
    <div class="zone_text" [innerHTML]="reference_text | safe:'html'"></div>



  </mat-card-content>
  <mat-card-actions class="app-card-action">
    <button mat-flat-button class="app-button"
            id="btnValide"
            *ngIf="coupon.label?.length>0 && coupon.title?.length>0" mat-button
            (click)="addcoupon(coupon)">Valider</button>

    <button mat-flat-button
            id="btnCancel"
            class="app-button"
            mat-button (click)="cancel()">Annuler</button>
  </mat-card-actions>
</mat-card>


