<app-old-coupons *ngIf="showOldCoupon"
                 title="Utilisez un modèle"
                 subtitle="pour votre nouvelle promotion"
                 [askFilter]="true"
                 [shop]="{'_id':coupon.shop,'owner':userid}"
                 (cancel)="cancel()"
                 [filter]="tags"
                 (select)="selectOldAsModel($event)">
</app-old-coupons>

<app-tuto title="Vous allez réaliser votre première promotion"
          button="C'est partit"
          [duration]="30"
          [delay]="3"
          image="./assets/img/discount.jpg"
          color="black"
          [force]="true"
          subtitle="ReducShare propose de partir d'un modèle que vous pouvez totalement personnaliser pour s'adapter à votre promotion. Vous pouvez également valider le modèle juste pour voir puisqu'il est toujours possible de modifier ou supprimer une promotion surtout si elle n'a pas été diffusée">
</app-tuto>

<mat-card class="app-card" *ngIf="!showOldCoupon" style="margin:10px;color:black;background-color: #8f8f8f;">
  <mat-card-title>
    Personnaliser le modèle
  </mat-card-title>
  <mat-card-subtitle style="color: black;">
    Tous les contenus blancs sont modifiables
  </mat-card-subtitle>
  <mat-card-content class="app-card-content">

    <div *ngIf="coupon.description?.length>0" style="width: 90%;margin-left:5%;">
      <span style="color: white">Description du modèle:</span><br>
      {{coupon.description}}
    </div>


    <mat-vertical-stepper style="background: none;margin:0px;padding:0px">

      <mat-step title="Adaptez ce modèle a votre promotion">
        <ng-template matStepLabel class="step-title">Adaptez ce modèle a votre promotion</ng-template>
        <div class="zone_text" [innerHTML]="master_text | safe:'html'"></div>
      </mat-step>

      <mat-step title="Votre visuel">
        <ng-template matStepLabel class="step-title">Votre visuel</ng-template>
        <div style="position:relative;width: 100%;text-align: center;color:white;">
          <span style="color:black" >Couverture de votre coupon (avec Exemple de texte)</span><br>
          <div style="position:absolute;z-index:100;left:5%;width:90%;top:20%;font-size: large;">{{coupon.label}}</div>
          <div *ngIf="coupon.max>0" style="position:absolute;z-index:100;width:100%;top:60%;font-size: x-large;">Jusqu'à {{coupon.max}}{{coupon.symbol}}</div>
          <img class="visual-coupon"
               style="object-fit: cover;"
               id="id_visual"
               [src]="coupon.visual"
               (click)="addImage('visual',800,220)"><br>
        </div>
      </mat-step>

      <mat-step title="L'avantage client">
        <ng-template matStepLabel class="step-title">L'avantage client</ng-template>
        <div class="zone_text" [innerHTML]="augment_text | safe:'html'"></div>
      </mat-step>

      <mat-step title="Maitrisez votre budget">
        <ng-template matStepLabel class="step-title">Maitrisez votre budget</ng-template>
        <div class="zone_text" [innerHTML]="budget_text | safe:'html'"></div>
      </mat-step>

    </mat-vertical-stepper>

  </mat-card-content>
  <mat-card-actions class="app-card-action">
    <button mat-flat-button class="app-button"
            id="btnValide"
            *ngIf="coupon.label?.length>0 && coupon.title?.length>0" mat-button
            (click)="addcoupon(coupon)">Valider</button>

    <button mat-flat-button
            id="btnCancel"
            class="app-button"
            mat-button (click)="cancel()">Annuler</button>
  </mat-card-actions>
</mat-card>


