<mat-card class="app-card">
  <mat-toolbar class="app-toolbar">
    Nouvelle enseigne
    <span class="spacer"></span>
    <button mat-button mat-flat-button
            id="btnValide" *ngIf="shopname?.length>0"
            class="app-button" (click)="add()">Valide</button>
  </mat-toolbar>


  <mat-card-content class="app-card-content">
    <app-tuto label="Avant de pouvoir créer une promotion, vous devez créer l'enseigne qui va faire l'offre"></app-tuto>

    <mat-form-field class="form-field-style">
      <input id="txtShopName" type="text" matInput placeholder="Nom de la boutique" [(ngModel)]="shopname" autofocus>
    </mat-form-field>
    <br>

    <mat-form-field class="form-field-style" style="width:85%;margin-right:5px;">
      <input id="txtShopAddress" type="text" matInput placeholder="adresse" [(ngModel)]="address"
             (change)="showOnMap()">
      <button mat-button *ngIf="address" matSuffix mat-icon-button aria-label="Clear" (click)="address=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <button mat-button mat-flat-button mat-icon-button (click)="localize()">
      <mat-icon>gps_fixed</mat-icon>
    </button>
    <br>

    <mat-label *ngIf="show_address" style="font-size: x-small;color:lightgrey;">
      Adresse interprétée: {{show_address}}
    </mat-label>
    <br>

    <br>
    <div id="map" class="map form-field-style"
         (mouseup)="reverseGeocode=true"
         (touchend)="reverseGeocode=true">
    </div>

    <app-tuto [delay]="5"
              label="Vérifier la localisation de votre enseigne sur la carte avant validation"></app-tuto>

    <br>

    <mat-checkbox [(ngModel)]="_public" id="chkPublic" (change)="checkLogin()">
      Rendre la promotion public (visible sur la carte)
    </mat-checkbox>

    <mat-form-field class="form-field-style">
      <mat-label>Etiquettes</mat-label>
      <mat-select id="txtShopTags" [(ngModel)]="tags"  multiple>
        <mat-option *ngFor="let tag of config.values.tags?.split(',')" [value]="tag">{{tag}}</mat-option>
      </mat-select>
    </mat-form-field>

    <app-tuto [delay]="10"
              label="Les tags sont très utiles pour filtrer les modèles de coupon en fonction du type d'enseigne"></app-tuto>

  </mat-card-content>

  <mat-card-actions class="app-card-action">

    <button mat-button mat-flat-button
            id="btnCancel"
            class="app-button" (click)="cancel()">Annuler</button>
    &nbsp;

  </mat-card-actions>
</mat-card>
