<mat-card class="app-card">
  <mat-card-title>Nouveau magasin / boutique</mat-card-title>
  <mat-card-content class="app-card-content">
    <app-tuto label="Avant de pouvoir créer une promotion, vous devez créer l'enseigne qui va faire l'offre"></app-tuto>

    <mat-form-field class="form-field-style">
      <input id="txtShopName" type="text" matInput placeholder="Nom de la boutique" [(ngModel)]="shopname" autofocus>
    </mat-form-field>
    <br>

    <mat-form-field class="form-field-style">
      <input id="txtShopAddress" type="text" matInput placeholder="adresse" [(ngModel)]="address"
             (change)="showOnMap()">
      <button mat-button *ngIf="address" matSuffix mat-icon-button aria-label="Clear" (click)="address=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-label *ngIf="show_address" style="font-size: x-small;color:lightgrey;">
      Adresse interprétée: {{show_address}}
    </mat-label>
    <br>

    <br>
    <div id="map" class="map form-field-style"
         (mouseup)="reverseGeocode=true"
         (touchend)="reverseGeocode=true">
    </div>

    <app-tuto [delay]="5" label="Vérifier la localisation de votre enseigne sur la carte avant validation"></app-tuto>

    <br>
    <mat-form-field class="form-field-style">
      <input id="txtShopTags" type="text" matInput placeholder="Tags (séparés par un espace ou une virgule)" [(ngModel)]="tags" autofocus>
    </mat-form-field>


  </mat-card-content>


  <mat-card-actions class="app-card-action">
    <button mat-button mat-flat-button
            id="btnValide" *ngIf="shopname?.length>0"
            class="app-button" (click)="add()">Valide</button>

    <button mat-button mat-flat-button
            id="btnCancel"
            class="app-button" (click)="cancel()">Annuler</button>
    &nbsp;

  </mat-card-actions>
</mat-card>
