<mat-card class="app-card">
<mat-card-title>Login</mat-card-title>
  <mat-card-content class="app-card-content">

  <mat-form-field class="example-full-width">
    <input matInput type="email" placeholder="Email" [(ngModel)]="email">
  </mat-form-field>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button mat-flat-button (click)="login()">Login</button>
    <button mat-button mat-flat-button (click)="socialSignIn('facebook')">Facebook Login</button>
    <button mat-button mat-flat-button (click)="socialSignIn('google')">Google Login</button>

  </mat-card-actions>
</mat-card>
