<h2 mat-dialog-title>{{data.title}}</h2>

<mat-dialog-content>


  <button mat-flat-button
          *ngIf="!deviceService.isDesktop()"
          mat-button (click)="addEmoji()">Emojis</button>

  <button mat-flat-button mat-button
          *ngIf="deviceService.isDesktop()"
          (click)="showIcons=!showIcons;addIcons()">Emojis</button>
  &nbsp;&nbsp;

  <button mat-flat-button mat-button
          id="cmdFile"
          style="width:70px;text-align: center;">
    <label for="file">Photos</label>
    <input type="file" id="file" style="opacity: 0;"
           (change)="onSelectFile($event)"
           accept="image/gif,image/jpeg,image/png" />
  </button>

  <br><br>

  <app-visual [picture]="preview"></app-visual>
</mat-dialog-content>

  <mat-dialog-actions>
    <button id="cmdCancel" mat-button mat-raised-button (click)="onNoClick()">Annuler</button>
    <button id="cmdValide" mat-button mat-raised-button [mat-dialog-close]="data.result" >Ok</button>
  </mat-dialog-actions>


