<mat-card class="app-card">
  <mat-card-title>
    Nouvelle Promotion
  </mat-card-title>
  <mat-card-content class="app-card-content" style="text-align: left;">
    <mat-form-field class="form-field-style" *ngIf="shopNameEdit">
      <input type="text" matInput placeholder="Nom de la boutique" [(ngModel)]="coupon.shop">
    </mat-form-field>


    <mat-form-field class="form-field-style">
      <input type="text" matInput placeholder="Teasing de la promotion" [(ngModel)]="coupon.label">
    </mat-form-field>

    <mat-form-field class="form-field-style">
      <input type="text" matInput placeholder="unité" [(ngModel)]="coupon.unity">
    </mat-form-field>


    <mat-form-field class="form-field-style" style="width: 40%;margin-right: 10%;">
      <input matInput type="number" placeholder="Valeur maximum" [(ngModel)]="coupon.max">
    </mat-form-field>

    <mat-form-field class="form-field-style" style="width: 40%">
      <input matInput type="number" placeholder="Bonus a chaque partage" [(ngModel)]="coupon.share_bonus">
    </mat-form-field>

    <br>
    <mat-form-field class="form-field-style" style="width: 40%;margin-right: 10%;">
      <input matInput type="number" placeholder="Récompense par achat généré" [(ngModel)]="coupon.pay_bonus">
    </mat-form-field>
    <mat-form-field class="form-field-style" style="width: 40%">
      <input matInput type="number" placeholder="Bonus immédiat" [(ngModel)]="coupon.direct_bonus">
    </mat-form-field>

    <mat-form-field class="form-field-style" style="width: 40%;margin-right: 10%;">
      <input matInput type="number" placeholder="Durée de validité (En Jours)" [(ngModel)]="coupon.duration">
    </mat-form-field>

    <mat-form-field class="form-field-style" style="width: 40%">
      <input matInput type="number" placeholder="Nombre maximum de partage" [(ngModel)]="coupon.max_coupon">
    </mat-form-field>

  <div style="width: 100%;text-align: center;">
  <span class="btn-file">
    <button mat-flat-button mat-button>Photos / Images</button>
    <input type="file"
           (change)="onSelectFile($event)"
           accept="image/gif,image/jpeg,image/png" />
  </span>

    <br><br>

    <img style="max-height:200px"
         *ngIf="preview.length>0"
         [src]="preview">

  </div>

  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button class="app-button" *ngIf="coupon.label?.length>0" mat-button (click)="addcoupon(coupon)">Valide</button>
    <button mat-flat-button class="app-button" mat-button (click)="onclose.emit()">Cancel</button>

  </mat-card-actions>
</mat-card>


