<mat-card class="app-card" style="padding:5px;background-color: #8f8f8f;">
  <table style="width: 100%"><tr>
    <td>
      <mat-card-title>{{title}}</mat-card-title>
      <button mat-button mat-flat-button
              class="large-button"
              id="btnShowModels"
              *ngIf="!showOldCoupon"
              (click)="showOldCoupon=true">
        Utiliser un modèle
      </button>
    </td>
    <td style="text-align: right;">
      <img [src]="coupon.picture" style="max-width: 75px;margin-right: 15px;">
    </td>
  </tr></table>

  <app-tuto [delay]="5"
            label="Si vous ne voyez pas par oû commencer pour fabriquer votre promotion, consulter les modèles disponibles">
  </app-tuto>

  <mat-card-content class="app-card-content" style="text-align: left;margin:5px;">

    <app-old-coupons *ngIf="showOldCoupon"
                     title="Selectionnez un modèle"
                     [shop]="{'_id':coupon.shop,'owner':userid}"
                     [filter]="tags"
                     (cancel)="showOldCoupon=false"
                     (select)="selectOldAsModel($event)"></app-old-coupons>

    <mat-vertical-stepper style="background: none;margin:0px;padding:0px">
      <mat-step>
        <ng-template matStepLabel>Nature de la promotion</ng-template>

        <div class="detail_promo">
          {{coupon.label}}
          <span *ngIf="coupon.max>0">Gagnez jusqu'a {{coupon.max}}{{coupon.symbol}}</span>
          {{coupon.conditions}}
        </div>
        <br>

        <app-tuto label="Vous pouvez utiliser des emojis pour représenter l'unité de votre promo (par exemple pour 'croissant')"
                  [delay]="5">
        </app-tuto>

        <mat-form-field class="form-field-style" style="width: 60%;margin-right: 5%;">
          <input type="text" matInput
                 id="txtUnity" (change)="refresh()"
                 placeholder="Unité : Que gagne-t-on ?"
                 [(ngModel)]="coupon.unity">
        </mat-form-field>

        <mat-form-field class="form-field-style" style="width: 30%;">
          <input type="text" matInput max="3"
                 id="txtSymbol" (change)="refresh()"
                 placeholder="Symbole de l'unité"
                 [(ngModel)]="coupon.symbol">
        </mat-form-field>

        <mat-checkbox [(ngModel)]="hasMax" (change)="changeMax()">Plafonner le gain</mat-checkbox><br>
        <mat-form-field class="form-field-style" *ngIf="hasMax">
          <input matInput type="number" (change)="refresh()" (update)="refresh()"
                 id="txtMaxGainByUser" title="Gain maximum cumulable par réduction"
                 placeholder="Le client peut gagner au maximum ..." [(ngModel)]="coupon.max">
        </mat-form-field>
        <br>

        <mat-form-field class="form-field-style">
          <textarea matInput rows="3"
                    id="txtConditions"
                    title="Condition d'application de l'offre / de la promo"
                    placeholder="Offre valable ..."
                    [(ngModel)]="coupon.conditions"
                    (change)="normalize_conditions(coupon)"></textarea>
        </mat-form-field>


        <mat-form-field class="form-field-style">
          <input type="text" matInput
                 id="txtLabel"
                 title="{{'Préciser une description de la promotion' | trans}}"
                 placeholder="Introduction (teaser) de la promotion" [(ngModel)]="coupon.label">
        </mat-form-field>


        <!--<mat-checkbox style="width: 20%;margin-right: 5%;" [(ngModel)]="coupon.breakable">Sécable</mat-checkbox>-->
        <!--<mat-checkbox style="width: 20%;margin-right: 5%;" [(ngModel)]="coupon.pluriel">avec une 's' au pluriel</mat-checkbox>-->
      </mat-step>


      <mat-step>
        <ng-template matStepLabel>Ajouter un visuel</ng-template>

        <!--Gestion du visuel-->

        <app-tuto label="Il est bon d'ajouter un visuel pour renforcer l'attractivité de votre promotion. Cela peut être une photo ou un emoji"></app-tuto>

        <div style="width: 100%;text-align: center;">

          <button mat-flat-button
                  *ngIf="!deviceService.isDesktop()"
                  mat-button (click)="addEmoji()">Emojis</button>

          <button mat-flat-button mat-button
                  *ngIf="deviceService.isDesktop()"
                  (click)="showIcons=!showIcons;addIcons();">Emojis</button>
          &nbsp;&nbsp;

          <button mat-flat-button mat-button
                  id="cmdFile"
                  style="width:70px;text-align: center;">
            <label for="file">Photos</label>
            <input type="file" id="file" style="opacity: 0;"
                   (change)="onSelectFile($event)"
                   accept="image/gif,image/jpeg,image/png" />
          </button>

          <br><br>

          <div *ngIf="showIcons" style="width:100%;">
            <img *ngFor="let icon of icons" [src]="icon.photo"
                 style="width:30px;display: inline-block;"
                 (click)="selIcon(icon)">
          </div>

          <app-visual [picture]="preview"></app-visual>
        </div>

      </mat-step>


      <mat-step>
        <ng-template matStepLabel>Détailler l'augmentation de la promotion</ng-template>
        <div class="detail_promo">
          le client gagne immédiatement {{coupon.direct_bonus}}{{coupon.symbol}}
          lorsqu'il flash le promotion, puis 1{{coupon.symbol}} supplémentaire pour {{coupon.nb_partage}} partages
          ,et enfin {{coupon.pay_bonus}}{{coupon.symbol}} supplémentaire(s) chaque fois qu'un coupon qu'il a distribué est utilisé.
        </div>
        <br>

        <mat-form-field class="form-field-style">
          <input matInput type="number"
                 id="txtDirectBonus"
                 title="Promotion directement récupéré à l'obtention de la promotion"
                 placeholder="Bonus immédiat (en {{coupon.symbol}})" [(ngModel)]="coupon.direct_bonus">
        </mat-form-field>


        <mat-form-field class="form-field-style">
          <input matInput type="number"
                 id="txtShareBonus" title="Bonus récupérer à chaque ouverture du coupon partagé"
                 placeholder="Nombre de partages pour 1{{coupon.symbol}} supplémentaire" [(ngModel)]="coupon.nb_partage">
        </mat-form-field>
        <app-tuto type="tips"
                  label="Attention, le bonus a chaque partagee doit resté faible car il peut augmenter rapidement sans pour autant générer de chiffres d'affaires">
        </app-tuto>


        <br>
        <mat-form-field class="form-field-style">
          <input matInput type="number"
                 id="txtPayBonus" title="Bonus obtenu lorsqu'un coupon partagé est utilisé chez le commercant"
                 placeholder="Bonus (en {{coupon.symbol}}) par achat obtenu par vos partages" [(ngModel)]="coupon.pay_bonus">
        </mat-form-field>
      </mat-step>


      <mat-step  name="step5">
        <ng-template matStepLabel>Maitriser le budget</ng-template>

        <app-tuto label="Plusieurs limites vous permette de maitriser la promotion en terme de coût, de stock, de durée de validité">
        </app-tuto>


        <div class="detail_promo">
          La promotion dure <span *ngIf="coupon.duration_jours!=null && coupon.duration_jours>0">{{coupon.duration_jours}} jour(s) </span>
          <span *ngIf="coupon.duration_hours!=null && coupon.duration_hours>0">{{coupon.duration_hours}} heures</span>,
        et s'interrompt si les {{coupon.stock}} {{coupon.symbol}} ont été distribué(es).
          La promotion ne peut plus être distribuée si {{coupon.max_coupon}} ont été partagées.
        <br><br>
        </div>

        <mat-form-field class="form-field-style" style="width: 40%;margin-right:10%;">
          <input matInput id="txtDays"
                 type="number" min="0" step="any"  placeholder="Durée (En Jours)" [(ngModel)]="coupon.duration_jours">
        </mat-form-field>

        <mat-form-field class="form-field-style" style="width: 40%;">
          <input matInput id="txtHours" type="number" min="0" step="any" placeholder="Durée (En Heure)" [(ngModel)]="coupon.duration_hours">
        </mat-form-field>
        <br>

        <mat-form-field class="form-field-style">
          <input matInput type="number"
                 id="txtStock"
                 placeholder="Stock (en {{coupon.symbol}}) destiné à la promotion" [(ngModel)]="coupon.stock">
        </mat-form-field>

        <mat-form-field class="form-field-style">
          <input matInput type="number"
                 id="txtMaxShare"
                 placeholder="Nombre maximum de partages" [(ngModel)]="coupon.max_coupon">
        </mat-form-field>

      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Références de la promo</ng-template>
        <mat-form-field class="form-field-style">
          <input type="text" matInput
                 id="txtTitle"
                 autofocus
                 placeholder="{{'Titre de la promotion (titre non visible du client)' | trans}}"
                 [(ngModel)]="coupon.title">
        </mat-form-field>
      </mat-step>


    </mat-vertical-stepper>
  </mat-card-content>

  <mat-card-actions class="app-card-action">
    <button mat-flat-button class="app-button"
            id="btnValide"
            *ngIf="coupon.label?.length>0 && coupon.title?.length>0" mat-button
            (click)="addcoupon(coupon)">Valider</button>

    <button mat-flat-button
            id="btnCancel"
            class="app-button"
            mat-button (click)="cancel()">Annuler</button>
    &nbsp;&nbsp;&nbsp;<br><br>
  </mat-card-actions>
</mat-card>


