<div *ngIf="_if && text?.length>0" (click)="hideTuto(true)">


  <div *ngIf="_type=='tips'" style="display:inline-block;margin:3px;">
    <table>
      <tr>
        <td>
          <img *ngIf="image?.length>0" [src]="image" style="width:30px;height:30px;padding:3px;">
          <span *ngIf="icon?.length>0">
            <mat-icon style="margin:10px;">{{icon}}</mat-icon>
          </span>
          <span *ngIf="_button?.length>0">
            <button mat-button mat-flat-button mat-icon-button><mat-icon style="margin:10px;">{{_button}}</mat-icon></button>
          </span>
        </td>
        <td><span style="font-size: small;font-weight: normal;">{{text}}</span></td>
      </tr>
    </table>
  </div>

  <div style="background-color:black;cursor: none;pointer-events: none;position: absolute;top:0;left:0;height:100vh;width:100vw;z-index: 999;object-fit:cover;"
       *ngIf="background?.length>0 && _type=='title'">
    <img [src]="background"
         style="min-width:100%;min-height:100%;">
  </div>

  <div *ngIf="background?.length==0 && _type=='title'"
       style="background-color: white;cursor: none;pointer-events: none;position: absolute;left:0;top:0;width: 100%;height:100%;z-index: 999;">
  </div>

  <div [ngStyle]="{'color':color}">
    <div *ngIf="_type=='title'"
         style="z-index:1000;display:inline-block;position:fixed;top:0px;left:0px;width:100vw;height:100vh;text-align:center;">

      <div style="width:80%;text-align:center;font-size: 6vmin;margin-top:5vh;margin-bottom:5vh;margin-left:10%;">{{text}}</div>
      <img *ngIf="image?.length>0" [src]="image" style="max-width: 80%;max-height: 80%;margin-bottom:5vh;display: inline-block;">
      <div *ngIf="image?.length==0" style="height:40vh"></div>
      <div style="width:90%;margin-left:5%;margin-top:15vh;text-align:center;font-size: medium;margin-bottom: 5vh;">{{subtitle}}</div>
      <button mat-button mat-raised-button>{{labelButton}}</button>

    </div>
  </div>


  <!--<div *ngIf="_type=='tips'" style="display: inline-block;">-->
    <!--<img *ngIf="image?.length>0 && text?.length>0"-->
         <!--[src]="image" style="width:15px;height:15px;padding:3px;display: inline-block;"-->
         <!--(mousedown)="hideTuto()"-->
    <!--&gt;-->
    <!--<div *ngIf="_if" style="font-size: x-small;display: inline;">{{text}}</div>-->
  <!--</div>-->


</div>

