<div *ngIf="_type!='tips' && text?.length>0 && _if"  (click)="hideTuto()">
  <div *ngIf="_type!='title'" style="display:inline-block;margin:3px;">
    <table>
      <tr>
        <td>
          <img *ngIf="image?.length>0" [src]="image" style="width:30px;height:30px;padding:3px;">
          <span *ngIf="icon?.length>0">
            <mat-icon style="margin:10px;">{{icon}}</mat-icon>
          </span>
          <span *ngIf="_button?.length>0">
            <button mat-button mat-flat-button mat-icon-button><mat-icon style="margin:10px;">{{_button}}</mat-icon></button>
          </span>
        </td>
        <td><span style="font-size: small;font-weight: normal;">{{text}}</span></td>
      </tr>
    </table>
  </div>

  <div *ngIf="_type=='title'" class="app-card"
       style="background-color:white;color:black;z-index:1000;display:inline-block;position:fixed;top:0px;left:0px;width:100vw;height:100vh;text-align:center;">
    <div style="width:80%;text-align:center;font-size: 6vmin;margin:10%;">{{text}}</div>
    <img [src]="image" style="max-width: 80%;max-height: 80%;margin-bottom:10%;display: inline-block;">
    <br>
    <div style="width:90%;margin:5%;text-align:center;font-size: medium;">{{subtitle}}</div>
    <br>
    <button mat-button mat-raised-button>Commencer</button>
    <br>
    <br>
  </div>

</div>

<div *ngIf="_type=='tips'" style="display: inline-block;">
  <img *ngIf="image?.length>0 && text?.length>0"
       [src]="image" style="width:15px;height:15px;padding:3px;display: inline-block;"
       (mousedown)="showText(true)" (mouseup)="showText(false)"
  >
  <div *ngIf="_if" style="font-size: x-small;display: inline;">{{text}}</div>
</div>
