<div *ngIf="coupon" style="text-align: center;width:100%;">
  <h2>
    Ici, {{coupon?.label}}
  </h2>
  <br><br>
  <img [src]="coupon.picture" style="max-width: 40vw"><br>
  <br>
  <span style="font-size: 2em;">
          Gagner jusqu'a <strong>{{coupon.max}}</strong>&nbsp;{{coupon.unity}}(s) {{coupon.conditions}}
        </span>
  <br>



  <br>
  <h3>Flasher ce code pour en bénéficier</h3>

  <qr-code [value]="coupon.url"
           style="max-width:400px;max-height: 400px;display:inline;"
           [size]="300" [padding]="3">
  </qr-code>

  <br><br>
  <h2>Votre réduction peut facilement augmenter !</h2>

  <div style="font-size: xx-large">
    + <strong>1</strong> {{coupon.unity}} supplémentaire chaque fois que vous partagez {{1/coupon.share_bonus | number:'1.0-0'}} fois avec vos proches<br><br>
    <strong>+ {{coupon.pay_bonus}}</strong>&nbsp;{{coupon.unity}}(s) pour vous à chaque fois qu'un client utilise le coupon que vous lui avez partagez
  </div>


</div>
<div *ngIf="shop" style="text-align: center;width:100%;">
  <h2>
    {{shop.name}}
  </h2>
  <br>
  <br>
  <span style="font-size: 2em;">
          Découvrez nos supers promos en flashant ce code
        </span>
  <br>
  <br>

  <qr-code [value]="shop.url"
           style="max-width:400px;max-height: 400px;display:inline;"
           [size]="400">
  </qr-code>
  <br><br>

  <br><br><br>
  <h1>Grâce à REDUCSHARE, votre réduction peut augmenter en partageant cette promotion avec vos amis</h1>


</div>

