<div *ngIf="coupon" style="text-align: center;width:100%;">
  <h2>
    <span *ngIf="coupon.origin==coupon._id">Ici,</span>
    <span *ngIf="coupon.origin!=coupon._id">{{coupon.shopname}},</span>
    {{coupon?.label}}
  </h2>
  <br><br>
  <app-visual [picture]="coupon.visual" height="40vw"></app-visual><br>
  <br>
  <span style="font-size: 2em;">
          Gagner jusqu'a <strong>{{coupon.max}}</strong>&nbsp;{{coupon.unity}}(s) {{coupon.conditions}}
        </span>
  <br>



  <br>
  <h3>Flasher ce code pour en bénéficier</h3>

  <qr-code [value]="coupon.url"
           style="max-width:400px;max-height: 400px;display:inline;"
           background="black"
           foreground="white"
           [size]="350" [padding]="10">
  </qr-code>

  <br><br>
  <h2>Votre réduction peut facilement augmenter !</h2>

  <div style="font-size: xx-large">
    + <strong>1</strong> {{coupon.unity}} supplémentaire chaque fois que vous partagez {{1/coupon.share_bonus | number:'1.0-0'}} fois avec vos proches<br><br>
    <strong>+ {{coupon.pay_bonus}}</strong>&nbsp;{{coupon.unity}}(s) pour vous à chaque fois qu'un client utilise le coupon que vous lui avez partagez
  </div>


</div>
<div *ngIf="shop" style="text-align: center;width:100%;">
  <h2>
    {{shop.name}}
  </h2>
  <br>
  <app-visual [picture]="shop.picture" height="25vw"></app-visual><br>
  <br>
  <br>
  <span style="font-size: 2em;">
          Découvrez nos supers promotions en flashant ce code
        </span>
  <br>
  <br>
  <br>
  <qr-code [value]="shop.url"
           background="black"
           foreground="white"
           style="max-width:400px;max-height: 400px;display:inline;"
           [size]="350" [padding]="10">
  </qr-code>
  <br><br>

  <br><br><br>
  <h1>Grâce à {{config.values?.brands[config.activeBrand].name}}, votre réduction peut augmenter en partageant cette promotion avec vos amis</h1>


</div>

