<div [ngStyle]="{'background-color':config.values?.brands[config.activeBrand].colors.bkmain}"
     style="width:100vw;height:100vh;"
     *ngIf="config.values?.brands!=null">

  <app-tuto label="En poursuivant votre navigation, vous acceptez le dépôt de cookies destinés à conserver vos préférences sur cet appareil lorsque vous quittez l'application."
            color="white"
            image="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/google/223/information-source_2139.png"
            [delay]="20"
            [duration]="30">
  </app-tuto>

  <app-tuto label="Utiliser le menu de votre navigateur pour installer REDUCSHARE sur votre télépone via le menu 'ajouter à l'écran d'acceuil'"
            color="white"
            image="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/google/223/north-east-arrow_2197.png"
            [if]="config.values?.user?.level>0.4"
            [duration]="30">
  </app-tuto>

  <router-outlet></router-outlet>

</div>
