<mat-card class="app-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title *ngIf="!user.email?.endsWith('fictif.com')">{{user.email}}</mat-card-title>
    <mat-card-subtitle *ngIf="user.message?.length>0">{{user.message}}</mat-card-subtitle>
    <app-tuto label="Cette zone affiche les informations de votre profil"></app-tuto>
  </mat-card-header>
  <mat-card-actions class="app-card-action">
    <button mat-button mat-raised-button (click)="addshop()">Ajouter une enseigne</button>
  </mat-card-actions>
</mat-card>
