<mat-card class="app-card">

    <mat-card-title>
      <div *ngIf="!showPersonalCode" style="display:inline-block;width:90px;vertical-align: middle;position:relative;">
        <label for="file_profil">
          <img mat-card-avatar style="width:70px;height:70px;" [src]="user.photo">
        </label>
        <input style="display:none;width:50px;" type="file" id="file_profil"
               (change)="onSelectFile($event)"
               accept="image/gif,image/jpeg,image/png" />
        <mat-icon style="position:absolute;left:-5px;top:0px;cursor: pointer;"
                  (click)="rotatePhoto()"
                  *ngIf="user.level<0.5 && !showPersonalCode"
                  title="Permet de faire tourner la photo de 90 degrés"
                  id="cmdTurn"
        >

          refresh</mat-icon>
      </div>
      <qr-code [size]="70" style="display: inline-block;vertical-align: middle;margin-right: 20px;"
               *ngIf="showPersonalCode"
               title="Le QRCode permet d'identifier l'utilisateur notamment pour la délégation de gestion"
               ngxClipboard
               [cbContent]="user._id"
               [value]="user._id"></qr-code>


      <div style="display: inline-block;">
        <span *ngIf="user.pseudo?.length>0" (click)="promptForPseudo()">{{user.pseudo}}</span>
      </div>


      <button *ngIf="user.pseudo?.length==0"
              id="cmdPseudo" class="medium-button"
              title="Il est possible de modifier son pseudo tout en restant anonyme"
              mat-button mat-flat-button
              (click)="promptForPseudo()">
        Pseudo
      </button>
      <div style="display: inline-block;margin-left:15px;" *ngIf="user.email?.indexOf('fictif.com')>-1">


        <button mat-icon-button
                title="S'authentifier permet de se connecter depuis plusieurs appareils"
                id="btnEmailLogin"
                mat-button mat-flat-button (click)="securise()">
          <mat-icon>verified_user</mat-icon>
        </button>

      </div>

      <button mat-icon-button style="margin-left:10px;"
              *ngIf="user.email?.indexOf('fictif.com')==-1"
              id="btnLogout"
              mat-button (click)="logout()">
        <mat-icon style="font-size: medium;margin-bottom: 5px;">logout</mat-icon>
      </button>



      <!--<button mat-button *ngIf="user.level==0"-->
              <!--id="btnAddShop" class="mediyum-button" style="display: inline-block;margin-left:5px;"-->
              <!--mat-raised-button (click)="addshop()">-->
      <!--<span *ngIf="user.shops==null || user.shops.length==0">-->
        <!--Nvlle promotion-->
      <!--</span>-->
        <!--<span *ngIf="user.shops?.length>0">-->
        <!--Nvlle enseigne-->
      <!--</span>-->
      <!--</button>-->

      <mat-progress-spinner *ngIf="config.waiting"></mat-progress-spinner>

    </mat-card-title>

    <mat-card-subtitle *ngIf="user.message?.length>0">
      {{user.message.split("#submessage#")[0]}}
    </mat-card-subtitle>

  <mat-card-content class="app-card-content">
    <div style="width:100%;text-align: center;" *ngIf="showScanner">
      <app-scanner [size]="400"
                   filter="/home"
                   (flash)="onflash_event($event)">
      </app-scanner>
    </div>

    <!--Montre la carte des promotions-->
    <div *ngIf="showMap">
      <div id="map" class="map" style="width:95%;display: inline-block;"></div>
      <br>
      <app-list-coupons *ngIf="showCouponOnMap"
                        [user]="user"
                        (flash)="flash()"
                        [coupons]="showCouponOnMap">
      </app-list-coupons>
    </div>

    <app-old-coupons [user]="user"
                     *ngIf="showOldPromos">
    </app-old-coupons>

    <app-tuto button="map" *ngIf="user.coupons?.length==0 && user.level>0.3"
              label="Voir les promotions autour de vous sur une carte">
    </app-tuto>

    <app-tuto *ngIf="user.level>0 && user.shops?.length==0" button="account_balance"
              label="Vous avez quelque chose à vendre ? Créer votre première promotion !">
    </app-tuto>

    <app-tuto [delay]="10" button="build" *ngIf="user.level>0.6 && user.level<1"
              label="Vous êtes un habitué de reducshare ? Passer l'interface en mode avancée">
    </app-tuto>

    <app-tuto [delay]="8" button="camera_alt" *ngIf="user.level>0.2 && config.webcamsAvailable>0"
              label="Vous pouvez flasher les QRCodes de promotion directement depuis reducshare">
    </app-tuto>


    <app-tuto button="delete" *ngIf="user.level==1 && (user.shops?.length==0)"
              label="Si vous n'avez plus de promotion en cours, vous pouvez totalement effacer votre compte de reducShare">
    </app-tuto>


  </mat-card-content>
  <mat-card-actions class="app-card-action">
    <!--<button mat-button mat-raised-button (click)="showOldPromos=!showOldPromos">Mes promos</button>-->

    <button mat-icon-button mat-button mat-raised-button
            *ngIf="(user.shops==null || user.shops.length==0) && user.level>0.5"
            id="btnRAZ"
            (click)="clearAccount(user._id)">
      <mat-icon>delete</mat-icon>
    </button>

    <button mat-button
            id="btnShowCode" title="Afficher son qrcode personnel"
            mat-raised-button mat-icon-button (click)="showPersonalCode=!showPersonalCode">
      <mat-icon>tap_and_play</mat-icon>
    </button>

    <button *ngIf="config.webcamsAvailable>0" mat-button
            id="btnScan" title="Scanner des coupons directement depuis l'application"
            mat-raised-button mat-icon-button (click)="startScanner()">
      <mat-icon>camera_alt</mat-icon>
    </button>

    <button *ngIf="user.level>0.5" mat-button
            id="btnExpert" title="Accès aux fonctions avancées de ReducShare"
            mat-raised-button mat-icon-button (click)="upgradeLevel()">
      <mat-icon>build</mat-icon>
    </button>

    <button mat-button *ngIf="user.level>0.5"
            id="btnNotif" title="Recevoir des notifications sur ses appareils connectés (utilisateurs avancés)"
            mat-raised-button mat-icon-button (click)="setWebhook()">
      <mat-icon>notifications_active</mat-icon>
    </button>
    <button mat-raised-button mat-icon-button mat-button
            *ngIf="user.coupons?.length>0 || user.shops?.length>0 || user.tags?.length>0"
            id="btnMap" title="Voir les promos autour de soit (nécéssite de partager sa position)"
            (click)="openLoc()">
      <mat-icon>map</mat-icon>
    </button>

    <button mat-raised-button mat-button
            *ngIf="user.coupons?.length==0 && user.shops.length==0 && user.tags?.length==0"
            id="btnMapRookie"
            title="Voir les promos autour de soit (nécéssite de partager sa position)"
            (click)="openLoc()">
      Promos proches
    </button>


    <button mat-button
            *ngIf="user.tags?.length==0 || user.shops?.length>0"
            title="Créer une nouvelle enseigne"
            id="btnAddShopPlus" mat-icon-button
            mat-raised-button (click)="addshop()">
      <mat-icon>account_balance</mat-icon>
    </button>

    <button mat-button
            *ngIf="user.coupons?.length>2"
            title="Trier vos coupons"
            id="btnSort" mat-icon-button
            mat-raised-button (click)="sortCoupons()">
      <mat-icon>sort</mat-icon>
    </button>


    <button mat-button
            *ngIf="user.tags?.length>0 && user.shops?.length==0"
            title="Créer une nouvelle enseigne pour des promotions"
            id="btnAddShopPlus2"
            mat-raised-button (click)="addshop()">
      Lancer une promotion
    </button>

  </mat-card-actions>
</mat-card>
