<mat-expansion-panel class="app-card" [expanded]="true"
                     *ngIf="config.values?.brands!=null"
                     [ngStyle]="{'background-color':config.values?.brands[config.activeBrand].colors.bkuser}">

    <mat-expansion-panel-header class="app-card-header" collapsedHeight="80px" expandedHeight="80px">
      <div *ngIf="!showPersonalCode" style="display:inline-block;width:90px;vertical-align: middle;position:relative;">
        <app-visual width="70px" height="70px"
                    [picture]="user.photo"
                    radius="50%"
                    (click)="addImage($event)">
        </app-visual>
      </div>

      <div *ngIf="showPersonalCode" style="text-align: center;margin-right: 20px;">
        <qr-code [size]="70"
                 style="display: inline-block;vertical-align: middle;"
                 title="Le QRCode permet d'identifier l'utilisateur notamment pour la délégation de gestion"
                 ngxClipboard
                 [cbContent]="user._id"
                 [value]="user._id">
        </qr-code><br>
        <span style="font-size: small;">{{user.temp_code}}</span>
      </div>


      <div style="display: inline-block;margin-top:15px;font-size: x-large;">
        <span *ngIf="user.pseudo?.length>0" (click)="promptForPseudo($event)">{{user.pseudo}}</span>
        <span *ngIf="user.pseudo?.length==0" (click)="promptForPseudo($event)">Pseudo ?</span>
      </div>

      <mat-progress-spinner *ngIf="config.waiting"></mat-progress-spinner>

    </mat-expansion-panel-header>



  <div class="app-card-content">
    <app-transactions *ngIf="showTransac" [user]="user"></app-transactions>
    <div style="width:100%;text-align: center;" *ngIf="showScanner">
      <app-scanner [size]="400"
                   filter="/home"
                   (flash)="onflash_event($event)">
      </app-scanner>
    </div>

    <!--Montre la carte des promotions-->
    <div *ngIf="showMap">
      <mat-form-field *ngIf="showCouponOnMap?.length>=5 || filter_tag?.length>0" style="width:60%;">
        <mat-label>Voir la categorie:</mat-label>
        <mat-select [(value)]="filter_tag" (selectionChange)="showPromoInSquare()">
          <mat-option *ngFor="let tag of config.values.tags.split(',')" [value]="tag">
            #{{tag}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button  mat-icon-button mat-button *ngIf="filter_tag?.length>0" (click)="filter_tag='';showPromoInSquare();">
        <mat-icon>close</mat-icon>
      </button>


      <div id="map" class="map" style="width:95%;display: inline-block;"></div>
      <div *ngIf="showCouponOnMap?.length>0">
        <br>
        <app-list-coupons
          [user]="user"
          (flash)="flash()"
          [coupons]="showCouponOnMap">
        </app-list-coupons>
      </div>

    </div>

    <!--<app-old-coupons [user]="user"-->
                     <!--*ngIf="showOldPromos">-->
    <!--</app-old-coupons>-->

    <app-tuto button="map" *ngIf="user.coupons?.length==0 && user.level>0.3 && user.shops?.length==0"
              label="Voir les promotions autour de vous sur une carte">
    </app-tuto>

    <app-tuto *ngIf="user.level>0 && user.shops?.length==0" button="account_balance"
              label="Vous avez quelque chose à vendre ? Créer votre première promotion !">
    </app-tuto>

    <app-tuto [delay]="10" button="build" *ngIf="user.level>0.6 && user.level<1"
              label="Vous êtes un habitué de reducshare ? Passer l'interface en mode avancée">
    </app-tuto>

    <app-tuto [delay]="8" button="camera_alt" *ngIf="user.level>0.2 && config.webcamsAvailable>0"
              label="Vous pouvez flasher les QRCodes de promotion directement depuis reducshare">
    </app-tuto>


    <app-tuto button="delete" *ngIf="user.level>1.2 && (user.shops?.length==0)"
              label="Si vous n'avez plus de promotion en cours, vous pouvez totalement effacer votre compte de reducShare">
    </app-tuto>


  </div>
  <mat-action-row class="app-card-action">
    <!--<button mat-button mat-raised-button (click)="showOldPromos=!showOldPromos">Mes promos</button>-->

    <button mat-icon-button
            *ngIf="user.level>0.5 && user.email?.indexOf('fictif.com')>-1"
            title="S'authentifier permet de se connecter depuis plusieurs appareils"
            id="btnEmailLogin"
            class="app-button"
            mat-button mat-flat-button (click)="securise()">
      <mat-icon>verified_user</mat-icon>
    </button>


    <button mat-icon-button mat-raised-button
            style="margin-left:10px;"
            class="app-button"
            *ngIf="user.email?.indexOf('fictif.com')==-1"
            id="btnLogout"
            mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>


    <button mat-icon-button mat-button mat-raised-button
            *ngIf="(user.shops==null || user.shops.length==0) && user.level>0.5"
            id="btnRAZ"
            class="app-button"
            (click)="clearAccount(user._id)">
      <mat-icon>delete</mat-icon>
    </button>

    <button mat-button
            *ngIf="user.level>0.8"
            class="app-button"
            id="btnShowCode" title="Afficher son qrcode personnel"
            mat-raised-button mat-icon-button
            (click)="showPersonalCode=!showPersonalCode">
      <mat-icon>tap_and_play</mat-icon>
    </button>

    <button *ngIf="user.level>0.6 && config.webcamsAvailable>0" mat-button
            id="btnScan2"
            title="Scanner des coupons directement depuis l'application"
            mat-raised-button mat-icon-button (click)="startScanner()">
      <mat-icon>camera_alt</mat-icon>
    </button>

    <button *ngIf="user.level<=0.6 && config.webcamsAvailable>0" mat-button
            id="btnScan" class="medium-button"
            title="Scanner des coupons directement depuis l'application"
            mat-raised-button (click)="startScanner()">
      <div class="bloc-bouton">Scannez une<br>promotion</div>
    </button>

    <button mat-button
            class="app-button"
            *ngIf="user.level<3 && user.level>0.5"
            id="btnExpert" title="Accès aux fonctions avancées de REDUCSHARE"
            mat-raised-button mat-icon-button (click)="upgradeLevel()">
      <mat-icon>build</mat-icon>
    </button>

    <button mat-button *ngIf="user.level>2.5"
            class="app-button"
            id="btnNotif" title="Recevoir des notifications sur ses appareils connectés (utilisateurs avancés)"
            mat-raised-button mat-icon-button (click)="setWebhook()">
      <mat-icon>notifications_active</mat-icon>
    </button>
    <button mat-raised-button mat-icon-button mat-button
            *ngIf="user.level>=0.8 || user.shops?.length>0"
            class="app-button"
            id="btnMap" title="Voir les promos autour de soit (nécéssite de partager sa position)"
            (click)="openLoc()">
      <mat-icon>map</mat-icon>
    </button>

    <button mat-raised-button mat-button
            *ngIf="user.level<0.8 && user.shops?.length==0"
            id="btnMapRookie" class="medium-button"
            title="Voir les promos autour de soit (nécéssite de partager sa position)"
            (click)="openLoc()">
      <div class="bloc-bouton">Trouver une<br>promotion</div>
    </button>


    <button mat-button
            *ngIf="user.shops?.length>0 && user.level>0.7"
            title="Liste des transactions"
            class="app-button"
            id="btnTransac" mat-icon-button
            mat-raised-button (click)="showTransac=!showTransac">
      <mat-icon>list</mat-icon>
    </button>


    <button mat-button
            *ngIf="user.coupons?.length>4 && user.level>0.5"
            title="Trier vos coupons"
            class="app-button"
            id="btnSort" mat-icon-button
            mat-raised-button (click)="sortCoupons()">
      <mat-icon>sort</mat-icon>
    </button>


    <!--Affichage du bouton de création de point de vente -->
    <button mat-button
            *ngIf="user.level>0.8 || user.shops?.length>0"
            title="Créer un nouveau point de vente"
            class="app-button"
            id="btnAddShopPlus" mat-icon-button
            mat-raised-button (click)="addshop()">
      <mat-icon>account_balance</mat-icon>
    </button>

    <button mat-button
            *ngIf="user.level<0.8 && user.shops?.length==0"
            title="Créer une nouvelle enseigne pour des promotions"
            class="app-button medium-button"
            id="btnAddShopPlus2"
            mat-raised-button (click)="addshop()">
      <div class="bloc-bouton">Lancer une<br>promotion</div>
    </button>

  </mat-action-row>
</mat-expansion-panel>
