<mat-card *ngFor="let shop of user.shops" class="app-card">
  <mat-card-header (click)="shop.visible=!shop.visible">
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{shop.name}}</mat-card-title>
    <mat-card-subtitle>{{shop.address}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="app-card-content">
    <span *ngIf="shop.followers?.length>0">
      Vous avez {{shop.followers?.length}} followers
    </span>
  </mat-card-content>

  <div id="print-section-{{shop._id}}" style="display: none;">
    <app-print-coupon [shop]="shop"></app-print-coupon>
  </div>

  <mat-card-actions class="app-card-action" *ngIf="shop.visible">

    <button mat-button mat-flat-button
            *ngIf="!shop.showAddCoupon"
            (click)="addCoupon(shop)">
      Lancer une promotion
    </button>

    <button mat-button
            (click)="openPrinter(shop)"
            title="Imprimer le QRCode de l'enseigne"
            mat-flat-button mat-icon-button>
      <mat-icon>printer</mat-icon>
    </button>

    <app-new-coupon *ngIf="shop.showAddCoupon"
                    [shop]="shop"
                    (insert)="onInsert(shop)"
                    (close)="shop.showAddCoupon=false">
    </app-new-coupon>

    <button mat-button mat-flat-button mat-icon-button
            *ngIf="!shop.showAddCoupon"
            (click)="delShop(shop)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>

  <mat-card-content class="app-card-content" *ngIf="shop.visible">
    <app-tuto [delay]="1"
              [if]="shop.coupons?.length>0"
              label="Une fois votre première promotion créée, vous pouvez, imprimer une affiche ou diffuser son lien internet à votre réseau">
    </app-tuto>
    <app-list-coupons [coupons]="shop.coupons" [user]="user"
                      (delete)="onupdate.emit($event)">
    </app-list-coupons>
  </mat-card-content>
</mat-card>

