<mat-card *ngFor="let shop of user.shops" class="app-card">
  <mat-card-header>
    <div mat-card-avatar (click)="shop.visible=!shop.visible" style="margin-right: 30px;margin-bottom: 30px;">
      <img *ngIf="shop.picture?.length==0" [src]="config.values.icon_card_shop" style="width:75px;">
      <app-visual *ngIf="shop.picture?.length>0" [picture]="shop.picture" size="75px"></app-visual>
    </div>
    <mat-card-title (click)="shop.visible=!shop.visible">{{shop.name}}</mat-card-title>
    <span class="spacer"></span>
    <div style="display: inline-block;cursor: pointer;" (click)="shop.visible=!shop.visible">
      <mat-icon *ngIf="!shop.visible">arrow_drop_down</mat-icon>
      <mat-icon *ngIf="shop.visible">arrow_drop_up</mat-icon>
    </div>

    <mat-card-subtitle>
      <span *ngIf="shop.followers?.length>0">
        Vous avez {{shop.followers?.length}} followers
      </span>
    </mat-card-subtitle>
  </mat-card-header>


  <mat-card-content class="app-card-content" *ngIf="shop.visible">
    <div id="print-section-{{shop._id}}" style="display: none;">
      <app-print-coupon [shop]="shop"></app-print-coupon>
    </div>


    <br>
    <app-list-coupons [coupons]="shop.coupons" [user]="user"
                      (delete)="onupdate.emit($event)"
                      (edit)="edit(shop,$event)">
    </app-list-coupons>


    <app-tuto *ngIf="shop.coupons?.length>0"
              [duration]="6"
              title="Votre première promotion est prête!"
              image="./assets/img/bravo.gif"
              subtitle="faites le savoir, Imprimez une première affiche ou partager la"
    >
    </app-tuto>


  </mat-card-content>

  <app-scanner [size]="300"
               *ngIf="showWebCam && shop.visible"
               [filter]=""
               (flash)="onFlash_event($event,shop)">
  </app-scanner>


  <mat-card-actions class="app-card-action" *ngIf="shop.visible">

    <button mat-button name="btnDelegate"
            (click)="setDelegate(shop)"
            title="Déléguer l'encaissement"
            mat-flat-button mat-icon-button>
      <mat-icon>person_add</mat-icon>
    </button>


    <button mat-button name="btnPrint"
            (click)="openPrinter(shop)"
            ngxClipboard [cbContent]="shop.url"
            title="Imprimer le QRCode de l'enseigne"
            mat-flat-button mat-icon-button>
      <mat-icon>printer</mat-icon>
    </button>

    <button mat-button mat-flat-button mat-icon-button
            *ngIf="shop.coupons?.length==0"
            title="Supprimez l'enseigne de votre compte"
            (click)="delShop(shop)">
      <mat-icon>delete</mat-icon>
    </button>

    <button mat-button mat-flat-button mat-icon-button
            name="btnNewPromoAdvanced"
            *ngIf="user.level==1"
            title="Nouvelle promotion attachée à cette enseigne"
            (click)="addCoupon(shop)">
      <mat-icon>note_add</mat-icon>
    </button>

    <button mat-button mat-flat-button
            name="btnNewPromo" class="large-button"
            title="Nouvelle promotion attachée à cette enseigne"
            *ngIf="user.level<1"
            (click)="addCoupon(shop)">
      Nouvelle promotion
    </button>

  </mat-card-actions>

</mat-card>

