<h1>Users</h1>
<table matSort>
  <tr>
    <th mat-sort-header="_id">ID</th>
    <th mat-sort-header="email">Email</th>
    <th mat-sort-header="pseudo">Pseudo</th>
  </tr>
  <tr *ngFor="let user of users">
    <td mat-cell>{{user._id}}</td>
    <td mat-cell>{{user.email}}</td>
    <td mat-cell>{{user.pseudo}}</td>
  </tr>
</table>
<h1>Coupons</h1>
<table matSort>
  <tr>
    <th mat-sort-header="_id">ID</th>
    <th mat-sort-header="owner">owner</th>
    <th mat-sort-header="precoupon">père</th>
  </tr>
  <tr *ngFor="let coupon of coupons">
    <td mat-cell>{{coupon._id}}</td>
    <td mat-cell>{{coupon.owner}}</td>
    <td mat-cell>{{coupon.old_coupon}}</td>
  </tr>
</table>

