<h1>Users</h1>
<table matSort class="data-table" cellpadding="4">
  <tr>
    <th mat-sort-header="_id">ID</th>
    <th mat-sort-header="email">Email</th>
    <th>Pseudo</th>
    <th>Level</th>
    <th>ip</th>
    <th>code</th>
    <th>dtCreate</th>
  </tr>
  <tr *ngFor="let user of users">
    <td mat-cell>{{user._id}}</td>
    <td mat-cell>{{user.email}}</td>
    <td mat-cell>{{user.pseudo}}</td>
    <td mat-cell>{{user.level}}</td>
    <td mat-cell>{{user.ip}}</td>
    <td mat-cell>{{user.code}}</td>
    <td mat-cell>{{user.dtCreate*1000 | date:'short'}}</td>
  </tr>
</table>
<h1>Coupons</h1>
<table matSort class="data-table"  cellpadding="4">
  <tr>
    <th mat-sort-header="_id">ID</th>
    <th mat-sort-header="owner">owner</th>
    <th mat-sort-header="old_coupon">père</th>
    <th>lng</th>
    <th>lat</th>
    <th mat-sort-header="public">public</th>
    <th>closed</th>
    <th>canbedeal</th>
    <th>deleted</th>
    <th>Direct</th>
    <th>Share</th>
    <th>Pay</th>
    <th>Final</th>
  </tr>
  <tr *ngFor="let coupon of coupons">
    <td mat-cell>{{coupon._id}}</td>
    <td mat-cell>{{coupon.owner}}</td>
    <td mat-cell>{{coupon.old_coupon}}</td>
    <td mat-cell>{{coupon.lng | number:'1.0-3'}}</td>
    <td mat-cell>{{coupon.lat | number:'1.0-3'}}</td>
    <td mat-cell>{{coupon.public}}</td>
    <td mat-cell>{{coupon.closed}}</td>
    <td mat-cell>{{coupon.canbedeal}}</td>
    <td mat-cell>{{coupon.deleted}}</td>
    <td mat-cell>{{coupon.dtCreate*1000 | date:'short'}}</td>
    <td mat-cell>{{coupon.direct_bonus | number:'1.0-1'}}</td>
    <td mat-cell>{{coupon.share_bonus | number:'1.0-1'}}</td>
    <td mat-cell>{{coupon.pay_bonus | number:'1.0-1'}}</td>
    <td mat-cell>{{coupon.final_bonus | number:'1.0-1'}}</td>
  </tr>
</table>

<h1>Shops</h1>
<table matSort class="data-table"  cellpadding="4">
  <tr>
    <th mat-sort-header="_id">ID</th>
    <th mat-sort-header="name">name</th>
    <th mat-sort-header="tags">tags</th>
    <th mat-sort-header="owner">owner</th>
    <th>lng</th>
    <th>lat</th>
    <th>public</th>
    <th>website</th>
  </tr>
  <tr *ngFor="let shop of shops">
    <td mat-cell>{{shop._id}}</td>
    <td mat-cell>{{shop.name}}</td>
    <td mat-cell>{{shop.tags}}</td>
    <td mat-cell>{{shop.owner}}</td>
    <td mat-cell>{{shop.lng | number:'1.0-3'}}</td>
    <td mat-cell>{{shop.lat | number:'1.0-3'}}</td>
    <td mat-cell>{{shop.public}}</td>
    <td mat-cell>{{shop.website}}</td>
  </tr>
</table>
<br>

<h1>Moneys</h1>
<table matSort class="data-table"  cellpadding="4">
  <tr>
    <th mat-sort-header="_id">ID</th>
    <th>coupon</th>
    <th>user (target)</th>
    <th>value</th>
    <th>date</th>
  </tr>
  <tr *ngFor="let money of moneys">
    <td mat-cell>{{money._id}}</td>
    <td mat-cell>{{money.coupon}}</td>
    <td mat-cell>{{money.user}}</td>
    <td mat-cell>{{money.value}}</td>
    <td mat-cell>{{money.dtCreate*1000 | date:'short'}}</td>
  </tr>
</table>

<button mat-button mat-flat-button (click)="raz()">RAZ</button>&nbsp;
<button mat-button mat-flat-button (click)="openAppli()">Open</button>


