<mat-card class="app-card" style="background: none;">
  <mat-toolbar class="app-toolbar">
    {{title}}
    <span class="spacer">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span>
    <button mat-button mat-icon-button
            *ngIf="filter?.length==0 && withFilter"
            (click)="changeFilter()" >
      <mat-icon>recycle</mat-icon>
    </button>
    <button mat-button mat-flat-button mat-icon-button *ngIf="filter?.length>0 && !withFilter" (click)="opereFilter()">
      <mat-icon>filter_list</mat-icon>
    </button>

    &nbsp;

    &nbsp;
    <button class="small-button" mat-icon-button mat-button mat-flat-button (click)="oncancel.emit()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <span style="font-size: small">{{subtitle}}</span>
  <span *ngIf="withFilter" style="font-size: small">
    Filtre actif : {{filter}}
    <button mat-button
            title="Vous pouvez désactiver le filtre pour voir l'ensemble des modèles disponibles"
            id="btnClearFilter"
            mat-icon-button
            (click)="refresh()">
      <mat-icon>cancel</mat-icon>
    </button>
  </span>

  <mat-card-content>
    <app-tuto label="Les modèles ne sont qu'une base. Ils sont entièrement modifiables pour s'adapter à votre promotion"
              *ngIf="coupons.length>0">
    </app-tuto>
    <mat-list style="padding:0px;">
      <mat-list-item *ngFor="let coupon of coupons | orderBy:'score':'desc' " name="coupon" (click)="onselect.emit(coupon)" style="cursor: pointer;">
        <img *ngIf="coupon.picture" matListAvatar [src]="coupon.picture">
        <h2 matLine (click)="onselect.emit(coupon)">
          <span *ngIf="coupon.title">{{coupon.title}}</span>
          <span *ngIf="!coupon.title">
        {{coupon.label}} sur {{coupon.unity}}
      </span>
        </h2>
        <p matLine style="margin-top: 0px;">
          <span *ngIf="coupon.max>0">Gagner jusqu'à {{coupon.max}}{{coupon.symbol}}</span>
          <span *ngIf="coupon.max==0">Gagner {{coupon.final_bonus}}{{coupon.symbol}}</span>
          {{coupon.conditions}}
        </p>
        <p matLine style="margin-top: 10px;"  *ngIf="coupon.share">
          <span> Distribution:{{coupon.share}} </span>
        </p>
        <!--<p matLine style="font-size: small;margin-top:5px;">-->
          <!--<span> Partage: {{coupon.share_bonus}}{{coupon.symbol}} / Immédiat: {{coupon.direct_bonus}}{{coupon.symbol}} / Utilisé: {{coupon.pay_bonus}}{{coupon.symbol}}</span>-->
        <!--</p>-->
        <p matLine style="font-size: x-small;margin-top:3px;" *ngIf="coupon.tags.length>0">
          <span>Utile pour {{coupon.tags.replace(',',' / ')}}</span>
        </p>
        <button style="display: inline-block;"
                *ngIf="canDelete"
                mat-flat-button mat-icon-button (click)="deleteCoupon(coupon)"><mat-icon>delete</mat-icon></button>
        &nbsp;

      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

