<mat-card class="app-card"
          *ngIf="config.values?.brands!=null"
          [ngStyle]="{'background-color': config.values.brands[config.activeBrand].colors.bkcoupon}">
  <mat-toolbar class="app-toolbar">
    <div style="display: inline-block;padding:0px;vertical-align: text-top;" *ngIf="!askFilter">
      {{title}}<br>
      <span style="font-size: small;color: lightgray;">{{subtitle}}</span>
    </div>

    <div style="width:80%;display: inline-block;" *ngIf="askFilter">
      Pour quel type de points de vente<br> souhaitez-vous voir des modèles ?
    </div>

    <span class="spacer">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span>
    <button mat-button mat-icon-button
            *ngIf="filter?.length==0 && withFilter"
            (click)="changeFilter()" >
      <mat-icon>recycle</mat-icon>
    </button>
    <button mat-button mat-flat-button
            *ngIf="filter?.length>0 && !withFilter" (click)="opereFilter()">
      <div class="bloc-bouton">Remettre<br>le filtre</div>
    </button>
    &nbsp;
    &nbsp;
    <button class="small-button"
            *ngIf="!askFilter"
            mat-icon-button mat-button mat-flat-button
            (click)="oncancel.emit()">
      <mat-icon>close</mat-icon>
    </button>

    <button mat-button mat-icon-button mat-raised-button
            title="Valide"
            id="btnValideFilter"
            *ngIf="askFilter && selTags?.length>0"
            (click)="selFilter()">
      <mat-icon>checkmark</mat-icon>
    </button>

    <button mat-button mat-raised-button
            title="Valide"
            id="btnValideFilterAll"
            *ngIf="askFilter && selTags?.length==0"
            (click)="selFilter('')">
      Tout voir
    </button>
  </mat-toolbar>

  <!--Sélection d'un filtre-->
  <mat-card-content class="app-card-content" *ngIf="askFilter">
    <mat-list>
      <mat-list-item *ngFor="let tag of tags" (click)="selFilter(tag)" style="cursor: pointer;">
        <img mat-list-icon style="width:47px;height:47px;" [src]="config.values.tags_details[tag].picture">
        <h4 mat-line>#{{tag}}</h4>
        <p mat-line>{{config.values.tags_details[tag].description}}</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <br>
  <mat-card-content class="app-card-content" *ngIf="!askFilter">

    <div *ngIf="mycoupons.length>0">
      <span style="margin-left:5%">
        <strong>Utilisez vos promotions précédentes comme modèle</strong>
      </span><br>
      <mat-list style="padding:0px;">
        <mat-list-item *ngFor="let coupon of mycoupons | orderBy:'dtCreate':'desc' " name="coupon" (click)="onselect.emit(coupon)" style="cursor: pointer;">
          <img *ngIf="coupon.picture" matListAvatar [src]="coupon.picture">
          <h2 matLine (click)="onselect.emit(coupon)">
            <span *ngIf="coupon.title">{{coupon.title}}</span>
          </h2>
        </mat-list-item>
      </mat-list>
      <br><br>
    </div>

    <div *ngIf="withFilter" style="margin-left:5%;width:92%;">
      <table style="width:100%;"><tr>
        <td style="width: 50%">
          <strong>Utilisez un modèle destiné à #{{filter}}</strong>
        </td>
        <td style="text-align: right;">
          <button mat-button
                  title="Vous pouvez désactiver le filtre pour voir l'ensemble des modèles disponibles"
                  id="btnClearFilter"
                  mat-raised-button
                  (click)="refresh()">
            <div class="bloc-bouton">Voir tous<br>les modèles</div>
          </button>
        </td>
      </tr></table>
    </div>

    <app-tuto label="Les modèles ne sont qu'une base. Ils sont entièrement modifiables pour s'adapter à votre promotion"
              *ngIf="coupons.length>0">
    </app-tuto>

    <span *ngIf="!withFilter" style="margin-left:5%;"><strong>Utilisez un modèle</strong></span>
    <mat-list style="padding:0px;">
      <mat-list-item *ngFor="let coupon of coupons | orderBy:'score':'desc' " name="coupon" (click)="onselect.emit(coupon)" style="cursor: pointer;">
        <img *ngIf="coupon.picture" matListAvatar [src]="coupon.picture">
        <h2 matLine (click)="onselect.emit(coupon)">
          <span *ngIf="coupon.title">{{coupon.title}}</span>
          <span *ngIf="!coupon.title">
        {{coupon.label}} sur {{coupon.unity}}
      </span>
        </h2>
        <p matLine style="margin-top: 0px; font-size: small;" title="{{coupon.conditions}}">
          {{coupon.conditions}}
        </p>
        <p matLine style="margin-top: 10px;"  *ngIf="coupon.share">
          <span> Distribution:{{coupon.share}} </span>
        </p>

        <button style="display: inline-block;"
                *ngIf="canDelete"
                mat-flat-button mat-icon-button (click)="deleteCoupon(coupon)">
          <mat-icon>delete</mat-icon></button>
        &nbsp;
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

