/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-card {
  margin:2px;
  background-color: #6e6e6e;
  max-width:900px;
  vertical-align: text-top;
}

.visual-coupon {
  color: white;
  position:relative;
  max-width:895px;
  margin:3px;
  width:100%;
  height:220px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  filter: brightness(100%) blur(0.3px);
}

.app-card-content {
  padding:0px;
  margin:0px;
  width: 100%;
  max-width: 900px;
  vertical-align: text-top;
}

.form-field-style {
  width:95%;
  display: flex;
}

.small-icon-button {
  font-size: x-small;
  margin:1px;
  width:10px;
  height:10px;
}

.spacer {
  flex: 1 1 auto;
}

.app-button {
  width:80px;
  padding:3px;
  margin:3px;
  display:inline-block;
}

@media print {
  app-root > * { display: none; }
  app-root app-print-layout { display: block; }
}

.app-card-action {
  text-align: right;
  padding:0px;
  margin: 0px;
}

.large-button {
  width:150px;
}

.app-card-title {
  font-size: medium;
  margin-top:10px;
  margin-left:10px;
}

.medium-button {
  text-align: left;
  margin:0;
  padding:0;
  width:80px;
}

.small-button {
  width:60px;
}

.app-card-header {
  padding-top:10px !important;
  padding-left:8px !important;
  vertical-align: text-top;
}

.app-toolbar {
  width: 100%;
  line-height: 100%;
  font-size: medium;
  margin:0px;
  padding: 0px;
  background: None;
}

.big-icon {
  font-size:40px;
  opacity: 0.5;
  color:black;
  display: inline-block;
}

.app-card-subtitle {
  font-size: medium;
}

h3 {
  margin-top:20px;
  font-size: large;
  font-weight: lighter;
}

h2 {
  margin-top:30px;
  font-size: x-large;
  font-weight: normal;
}


.mat-expansion-panel-body {
  padding: 8px !important;
}

