/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-card {
  margin:4px;
  margin-bottom: 10px;
  background-color: #6e6e6e;
  max-width:700px;
  vertical-align: text-top;
  display: inline-block;
}

.app-card-content {
  margin:2px;
  width: 100%;
  max-width: 700px;
  vertical-align: text-top;
}

.form-field-style {
  width:95%;
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.app-button {
  width:80px;
  padding:3px;
  margin:3px;
  display:inline-block;
}

@media print {
  app-root > * { display: none; }
  app-root app-print-layout { display: block; }
}

.app-card-action {
  text-align: right;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 7px;
  padding-bottom: 7px;
}

.large-button {
  width:150px;
}

.app-card-title {
  width:100vw;
}

.medium-button {
  text-align: center;
  width:75px;
}

.small-button {
  width:60px;
}

.app-card-header {
  margin-bottom: 5px;
}

.app-toolbar {
  font-size: medium;
  margin:0;
  padding: 0;
  background: None;
}
