/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-card {
  margin:2px !important;
  padding:6px !important;
  vertical-align: text-top;
}

.visual-coupon {
  color: white;
  position:relative;
  margin:3px;
  width:100%;
  height:220px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  filter: brightness(100%) blur(0.3px);
}

.app-card-content {
  padding:0px;
  margin:0px;
  width: 100%;
  max-width: 900px;
  vertical-align: text-top;
}

.form-field-style {
  width:95%;
  display: flex;
}

.small-icon-button {
  font-size: x-small;
  margin:1px;
  width:10px;
  height:10px;
}

.spacer {
  flex: 1 1 auto !important;
}

.filler {
  flex: 1 1 auto !important;
}

.app-button {
  padding-left:6px !important;
  padding-right:6px !important;
  margin-left:4px !important;
  margin-bottom:1px !important;
}

@media print {
  app-root > * { display: none; }
  app-root app-print-layout { display: block; }
}

.app-card-action {
  text-align: right;
  padding:8px !important;
}

.large-button {
  width:150px;
}

.app-card-title {
  font-size: large;
  line-height: 90%;
  margin-top:10px;
  margin-left:10px;
}

.medium-button {
  text-align: left;
  margin:0;
  padding:0;
  width:80px;
}

.small-button {
  width:60px;
}

.app-card-header {
  padding-top:5px !important;
  padding-bottom:5px !important;
  padding-left:8px !important;
  vertical-align: text-top;
}

.app-toolbar {
  max-width: 900px;
  line-height: 100%;
  font-size: medium;
  margin:0;
  padding: 0;
  background: None;
}


.image-photo {
  box-shadow: 6px 6px 5px #7c7c7c;
  margin: 5px;
  border: 1px #bfbec4 solid;
}

.big-icon {
  font-size:40px;
  color:black;
  opacity: 0.5;
  display: inline-block;
}

.app-card-subtitle {
  font-size: small;
  color:lightgrey;
}

h3 {
  margin-top:20px;
  font-size: large;
  font-weight: lighter;
}

h2 {
  margin-top:30px;
  font-size: x-large;
  font-weight: normal;
}


.mat-expansion-panel-body {
  padding: 8px !important;
}

.step-title {
  color:black !important;
  font-weight: lighter;
}

.bloc-bouton {
  margin:0px;
  display:inline-block;
  font-size:small;
  line-height: 90%;
}
