<app-tuto label="Bienvenue dans la première application de couponing dynamique"></app-tuto>
<app-userform [user]="user"></app-userform>
<app-tuto [if]="user.shops?.length>0"
          label="Retrouvez ici toutes les enseignes pour lesquelles vous souhaitez faire des promotions">
</app-tuto>
<app-shops [shops]="user.shops"
           (delete)="refresh()"
           (insert)="refresh()">
</app-shops>

<app-tuto [if]="user.coupons?.length>0"
          label="Retrouvez ici tout les coupons de promotion dont vous disposez">
</app-tuto>
<app-list-coupons (delete)="refresh('coupon supprimé')"
                  (insert)="refresh('coupon ajouté')"
                  [coupons]="user.coupons">
</app-list-coupons>

<!--<br><br><br>-->
<!--<button mat-button mat-raised-button (click)="api.raz();refresh();">RAZ</button>-->


