<div *ngIf="picture?.startsWith('http') || picture?.startsWith('data')">
  <img
    *ngIf="!picture?.endsWith('png')"
    [src]="picture"
    class="image-photo"
    [ngStyle]="{'display':'inline-block','border-radius':radius,'width': w,'height':h,'max-width': mw,'max-height':mh}">

  <img
    *ngIf="picture?.endsWith('png')"
    [src]="picture"
    [ngStyle]="{'display':'inline-block','width': w,'height':h,'max-width': mw,'max-height':mh}">
</div>

<span [ngStyle]="{'font-size': fontsize}"
      *ngIf="!picture?.startsWith('http') && !picture?.startsWith('data')">
  {{picture}}
</span>

